html { 
  font-size: 16px;
  font-family: arial;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-weight: normal;
  margin: 0;
}

header {
  border-bottom: 1px solid #ccc;
  padding: 16px;
}

h2 a {
  display: block;
  padding: 16px;
}

img {
  width: 33%;
}

.is-mobile img {
  width: 22%;
}

.container {
  display: flex;
  height: 100%;
}

.navigation {
  width: 30%;
  height: 100%;
  overflow-y: scroll;
  padding: 16px;
}

.navigation ul {
  margin-left: 32px;
  padding: 0;
}

.navigation > ul {
  list-style: none;
  margin-left: 16px;
}

.navigation li {
  margin-bottom: 16px;
}

.navigation li p {
  margin: 0 0 16px 0;
}

.results {
  overflow-y: scroll;
  border-left: 1px solid #ccc;
}

.results ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.results li {
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
