html { 
  font-size: 16px;
  font-family: arial;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-weight: normal;
  margin: 0;
}

header {
  border-bottom: 1px solid #ccc;
  padding: 16px;
}

.is-mobile img {
  width: 22%;
}

.container {
  display: flex;
  height: 100%;
}

.navigation {
  width: 20%;
  height: 100%;
  overflow-y: scroll;
  padding: 16px;
}

.navigation ul {
  margin-left: 32px;
  padding: 0;
}

.navigation > ul {
  list-style: none;
  margin-left: 16px;
}

.navigation li {
  margin-bottom: 16px;
}

.navigation li p {
  margin: 0 0 16px 0;
}

.navigation li p:before {
  content: '';
  display: inline-block;
  margin-right: 16px;
  width: 16px;
  height: 16px;
  vertical-align: top;
  border: 1px solid #ccc;
}

.navigation li.passing p:before {
  background: rgb(205, 243, 205);
}

.navigation li.failing p:before {
  background: rgb(247, 213, 220);
}

.results {
  border-left: 1px solid #ccc;
  overflow-y: scroll;
  width: 79%
}

.results h2 {
  padding: 16px;
  margin-bottom: 8px;
}

.results h2 a {
  padding-right: 24px;
  background: url(../images/new-tab.png) no-repeat 100% 50%;
}

.results ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.results li {
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.results .fail {
  background: rgb(250, 231, 234);
}

.results .pass {
  background: rgb(226, 245, 226);
}

.results .pass h2 {
  background: rgb(205, 243, 205);
}

.results .fail h2 {
  background: rgb(247, 213, 220);
}

.results table {
  border-collapse: collapse;
}

.results td {
  width: 33%;
  vertical-align: top;
}

.results td p {
  text-align: center;
  font-weight: bold;
}

.results td img {
  width: 100%;
}

.results td .no-baseline {
  display: block;
  text-align: center;
  font-weight: normal;
}

.results td .no-baseline:after {
  content: '¯\\_(ツ)_/¯';
  margin-top: 8px;
  display: block;
  font-size: 24px;
}
